/* Navbar offset
body {
	margin-top: 60px;
}
*/

/* Nav Bar 
.navbar-default {
	background-color: blue;
	border-color: black;
	font-size: 16px;
	
}
*/

/* About Me */
#about-me {
	background-color: #000000;
	background-image: url(../images/blurred-background.jpg);
	background-size: cover;
	padding: 100px 0px 80px;
	color: white; 
}

#bio {
	font-size: 17px;
}

#photo-self {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	background-image: url(../images/self-photo.jpg);
	background-size: cover;
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 3px solid white;
}

.social .fa {
	height: 36px;
	width: 36px;
	line-height: 36px;
	border-radius: 100%;
	vertical-align: middle;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 5px;
}

.social a {
	color: white;
	font-size: 18px;
}

/* Skills */
#skills { padding-top: 10px;	
}

.center {
	text-align: center;
}

.span-icon {
	vertical-align: middle;
}

.center>.fa {
	font-size: 26px;
	height: 68px;
	width: 68px;
	line-height: 68px;
	color: #fff;
	border-radius: 100%;
}

.fa-apple {
	background-color: #e74c3c;
}

.fa-html5 {
	background-color: #FF3A3A;
}

.fa-desktop {
	background-color: #58D3F7;
}

.fa-github-alt {
	font-size: 22px;
	background-color:#d8d8d8;
	color:#000000;
}

.fa-linkedin {
	font-size: 20px;
	background-color: #21a6d8; 
	color:#fff;
}

/* Projects */
#projects p {
	font-size: 16px;
}
.version {
	font-size: 16px;
	color: #909090;
}

/* Footer */
footer {
	text-align: center;
}
